# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.bin

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Project_Instances/MITCH_2021-0/Debug/
Project_Instances/MITCH_2021-0/MITCH_Common
Project_Instances/JacksHardwareTestbed/Debug/
Project_Instances/JacksHardwareTestbed/MITCH_Common
Project_Instances/JeffsHardwareTestbed/Debug/
Project_Instances/JeffsHardwareTestbed/MITCH_Common
Project_Instances/L4Testbed/Debug/
Project_Instances/L4Testbed/MITCH_Common
Project_Instances/MarkBHardwareTestbed/Debug/
Project_Instances/MarkBHardwareTestbed/MITCH_Common
Eclipse/Shared-MITCH-Testbed/.settings/language.settings.xml
Eclipse/Shared-MITCH-Testbed/MITCH_Common
Eclipse/Shared-MITCH-Testbed/MyTestbed

